/* Mise en page de base */
.contact-page {
    font-family: Arial, sans-serif;
    background-color: #ffefef;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style du formulaire */
form {
    background-color: #ffefef;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px;
}

/* Style des labels */
label {
    font-size: 16px;
    color: #333;
    display: block;
    padding-bottom:8px ;
    font-weight: bold;
}

/* Style des champs de saisie */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Mise en forme du bouton */
button {
    background-color: #f54d4d;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #7d1c1c;
}

/* Style du message texte */
textarea {
    resize: vertical;
    height: 150px;
}

/* Ajouter de l'espace entre les éléments */
br {
    margin-bottom: 10px;
}
