.nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
a{
    text-decoration-style: none;

   
}
.header {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30%;
    align-items: center;
    
}