@import 'variables';

input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
  
    &:focus {
      border-color: $accent-color;
      outline: none;
    }
  }