body {
    margin: 0 ;
    height: 100%;
    background-color: $neutral-light;
    
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
  
      .menu-item {
        background-color: #fee9f6;
        border: 2px solid #C96868;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
  
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        }
  
        a {
          text-decoration: none;
          color: inherit;
          h1 {
            font-size: 1.8rem;
            color: #D72323;
            margin: 10px 0;
          }
        }
  
        img {
          max-width: 75%;
          height: 50%;
          border-bottom: 2px solid #f4f4f4;
        }
  
        p {
          padding: 15px;
          font-size: 1rem;
          color: #555;
          line-height: 1.5;
        }
      }
    }
  }
  