$primary-color : #D72323;
$primary-color-dark : #7d1c1c;
$primary-color-light : #f54d4d ;
$secondary-color : #3E3636 ;
$secondary-color-dark: #534d4d ;
$secondary-color-light: #a29999 ;

$neutral-dark : #000000 ;
$neutral-light : #ffefef ;