// Variables de couleur
$primary-color: #FDDBBB;      // Couleur principale
$secondary-color: #FFD700;    // Couleur secondaire (or)
$accent-color: #F08080;       // Couleur d'accentuation (pêche)
$text-color: #333;            // Couleur du texte (gris foncé)

// Variables de police
$font-stack: 'Arial', sans-serif;
$heading-font: 'Helvetica', sans-serif;
